:root {
    --white: #fff;
    --white3: #f1f1f1;

    --gray1: #03050F;
    --gray10: #F8F9FF;
    --gray30: #CCD1EE;
    --gray60: #5E6488;
    --gray80: #2B304E;

    --blueberry600: #4F4FFF;

    --success: #389E0D;

    --neutrals2: #EDEFFC;
    --neutrals4: #D7DBF5;
    --neutrals5: #A9AFD9;
    --neutrals6: #7981B2;
    --neutrals7: #141938;

    --violet80: #C333FF;

    --aqual4: #7DF0BA;
    --aqua100: #00F4E2;

    --red5: #FF1C44;
}